<!-- set cookie -->


{% extends "layout.html" %}

{% block jumbo %}

	<div class="col-md-8">
      <form class="form-signin" method="POST">

        <h2 class="form-signin-heading">New password </h2>
        Please enter your email address, you will receive an email to reset your password. The link provided in the email will be valid for 10'
        <br><br>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    {% if message %}
      <p style="text-align:center; color:#dd0000">{{message}}</P>
    {% endif %}
      
    </div>



{% endblock %}