<!-- set cookie -->


{% extends "layout.html" %}

{% block jumbo %}
<script language="javascript">
    function Password_strength(pwd)
    {
  
      var counter = 1;

      if (pwd.length < 6) //less than 6 characters means very weak
        return "Too short";
  
      if (pwd.length >= 8) // more than 8 characters means good
        counter++;
      if (pwd.length >= 10) // more than 10 characters means very good
        counter++;
      if (pwd.match(/\d+/)) // finds digits in string
        counter++;
      if (pwd.match(/[a-z]/) && pwd.match(/[A-Z]/)) // find a mixture of uppercase and lowercase characters
        counter++;
      if (pwd.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,£,(,)]/)) // other character(s) than letters and numbers is bonus
        counter++; 
  
      if (counter < 2)
         return "Weak"
      else 
      {
        if (counter < 4)
          return "Medium"
        else
          return "Strong"
      }
    }

    function Password_calculate(something)
    {
        var span = document.getElementById("Show_strength");
        var strength = Password_strength(something.value);
        if (strength == "Too short")
          span.style.color = "#dd0000"
        else
        {
          if (strength == "Weak")
            span.style.color = "#FF0033"
          else
          {
            if (strength == "Medium")
              span.style.color = "#FF9900"
            else
              span.style.color = "#99CC33"
          }
        }
        
        span.innerHTML = strength
    } 
</script>
	<div class="col-md-8">
      <form class="form-signin" method="POST"> 

        <h2 class="form-signin-heading">Reset password </h2>
        <label>New password:</label><br>
        <input type="password" name="pwd1" class="form-control" placeholder="Password" onkeypress="Password_calculate(this)" 
        style="display:inline;width:60%;">
        <span id="Show_strength"></span>
        <label>Confirm password:</label><br>
        <input type="password" name="pwd2" class="form-control" placeholder="Password" style="display:inline;width:60%;"> 
        <input type="hidden" name="user" value="{{user}}">     
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width:60%;">Submit</button>
      </form>
      {% if error %}
      <p style="text-align:center; color:#dd0000">{{error}}</p>
      {% endif %}
      
    </div>
	



{% endblock %}